[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = ">=1.21.1"
scipy = ">=1.4.1"
tqdm = ">=4.43.0"
joblib = ">=0.14.1"
dill = ">=0.3.1.1"
pytest = "*"
pytest-coverage = "*"
matplotlib = "*"
numba = "*"
psutil = "*"
twine = "*"
pydata-sphinx-theme = "*"
sphinx-panels = "*"
Sphinx = "*"
sphinx-autobuild = "*"
hyperopt = "*"
scikit-learn = "*"

[dev-packages]

[requires]
python_version = "3.8"

[packages.e1839a8]
path = "."
editable = true
