joblib>=0.14.1
numpy>=1.21.1
scipy>=1.4.1

# EXTRA : hyperparameters optimization
tqdm>=4.43.0
hyperopt
matplotlib>=2.2.0

# EXTRA : scikit-learn nodes
scikit-learn (>=0.24.2, <1.7.0)

# EXTRA : jax backend
jax>=0.4