name: "Testing"

on:
  push:
    branches: [master]
    paths-ignore:
    - 'docs/**'
    - 'examples/**'
    - 'tutorials/**'
    - 'static/**'
    - 'README.md'
    - 'LICENSE'
    - 'CONTRIBUTING.md'
    - '.gitignore'

  pull_request:
    types: [opened, edited]
    paths-ignore:
      - 'docs/**'
      - 'static/**'
      - 'LICENSE'
      - 'CONTRIBUTING.md'
      - '.gitignore'

jobs:
  build:

    runs-on: ${{matrix.os}}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-20.04]
        python-version: ["3.8", "3.7"]
    env:
      OS: ${{ matrix.os }}
      PYTHON: ${{ matrix.python-version }}

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run:  |
          python -m pip install --upgrade pip setuptools wheel
          python -m pip install flake8 pytest pytest-cov
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
          pip install -e .
      - name: Test with Pytest
        run: |
          pytest --cov-report=xml --cov=reservoirpy
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v2.1.0
        with:
          directory: ./coverage/reports/
          env_vars: OS,PYTHON
          fail_ci_if_error: true
          files: ./coverage.xml
          flags: unittests
          name: codecov-umbrella
          verbose: true
